/* CSS HEX
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--congo-pink: #ef8275ff;
--prussian-blue: #1d3557ff; */


.navbar-light .navbar-brand {
  width: 30%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 30px;
}

.s1 {
  background-color: #F1FAEE;
}

.s2 {
  background-color: #A8DADC;
}

.s3 {
  background-color: #457B9D;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ef8275ff;
  padding-bottom: 10px;
  border-bottom: 3px solid #ef8275ff;
  border-radius: 5px;
}

.navbar-light .navbar-toggler {
  margin-right: 30px;
}

@media screen and (max-width: 950px) {
  .navbar-light .navbar-brand {
    width: 50%;
  }
}