/* CSS HEX
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--congo-pink: #ef8275ff;
--prussian-blue: #1d3557ff; */

body {
  color: #1D3557;
  font-family: 'Lato', sans-serif;
}

.navbar-light .navbar-brand {
  width: 30%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 30px;
}

.s1 {
  background: url(/images/site-home.png);
  background-size: cover;
  background-position: center;
}

.s2 {
  background: url(/images/home-2.png);
  background-size: cover;
  background-position: center;
}

.s3 {
  background: url(/images/home-3.png);
  background-size: cover;
  background-position: center;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ef8275ff;
  padding-bottom: 10px;
  border-bottom: 3px solid #ef8275ff;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
  padding-bottom: 10px;

}

.navbar-light .navbar-toggler {
  margin-right: 30px;
}

.navbar-expand-lg .navbar-collapse {
  margin-right: 0;
}

.placeholder {
  height: 150px;
  background: rgba(0, 0, 0, 0)
}

.opening {
  margin-top: 100px;
  margin-bottom: 0;
  font-family: 'Pangolin', serif;
  font-size: 2.8em;
}

a {
  text-decoration: none;
}

.icon {
  color: #1D3557;
  margin: 10px 20px;
}

.main-sub {
  margin: 20px 0;
  font-size: 1.2em;
}

.btn-primary {
  background-color: #457b9dff;
  border: none;
}

.btn-primary:hover {
  background-color: #1D3557;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.list-head {
  color: #ef8275ff;
  font-family: 'Pangolin', serif;
  border-bottom: #457B9D solid 3px;
  border-radius: 7px;
}

.fp-warning,
.fp-watermark {
  position: relative;
}

/* Web Projects */
.web-nav {
  background-color: #fff;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #1D3557;
  border: none;
  z-index: 9;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

.card-link,
.card-link:hover {
  color: #1D3557;
}

.card-title {
  font-family: 'Pangolin', serif;
  color: #ef8275ff
}

.card-text {
  margin-bottom: 16px;
}

@media screen and (max-width: 950px) {
  .navbar-light .navbar-brand {
    width: 50%;
  }

  .placeholder {
    height: 30px;
  }

  .place-3 {
    height: 85px;
  }

  #fp-nav.fp-right {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse {
    z-index: 9;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .home-2 {
    margin-top: 30px;
  }

  .list-head {
    font-size: 20px;
  }

  .pdf-link {
    display: block;
  }

  .pdf {
    display: none;
  }

  .video {
    width: 350px;
    height: 200px;
  }
}

/* User-Report */
.pdf-link {
  display: hidden;
}